$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$yellow: #f4d300;
$green: #62d435;
$orange: #fa621c;
$grey: #f5f5f5;


$brand-primary: $orange;
$brand-secondary: $green;
$brand-white: #FEF8F6;

body {
  border-top: $yellow 7px solid;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar {
  margin-bottom: 0;
  margin: 10px 0;
  color: $brand-primary;
  a {
    color: $brand-primary;
  }
}

.jumbotron {
  background: $brand-primary;
  color: $brand-white;
}

.jumbotron .btn {
  border-color: $brand-white;
  color: $brand-white;
  &:hover {
    background: $brand-white;
    color: $brand-primary;
  }
}

.btn-primary {
  background: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    background: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-white;
  }
}

.bs-docs-nav .navbar-toggle .icon-bar {
  background: $brand-primary;
}

.login-modal {
  padding: 1em;
  .form-control {
    margin: 0.5em auto;
  }
}

.profile-img-holder {
  width: 100px;
  margin: 0 auto;
}

.post,
.order {
  padding: 0.5em 1em 0.1em;
  margin-bottom: 0.2em;
}

.post {
  background-color: $grey;
}
.order-this-item {
  margin-top: 0.2em;
}

#checkout {
  background-color: #f5f5f5;
  max-width: 700px;
  display: block;
  margin: 25px auto; 
}

.button {
    border: none;
    display: block;
    margin: auto;
    background-color: $brand-secondary;
    padding: 5px 30px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
