$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// fonts

@import url('http://fonts.googleapis.com/css?family=Raleway');

@import url('http://fonts.googleapis.com/css?family=Pacifico');


$yellow: #f4d300;
$green: #62d435;
$orange: #fa621c;
$grey: #f5f5f5;
$white: #ffffff;
$black: #333333;

$brand-primary: $orange;
$brand-secondary: $green;
$brand-white: #FEF8F6;

body {
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-info {
  color: $brand-primary !important;
  margin-bottom: 30px;
}
.bg-info {
  background-color: $grey;
}
.bg-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: $white;
}

.bg-container:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $black;
  opacity: 0.7;
  content: '';
  z-index: -1;
}

:hover {
  transition: all linear .1s;
}

.banner {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 10px 0; 
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-family: Pacifico, sans-serif;
    color: $white;
    font-size: 60px;
    text-shadow: 3px 4px $brand-primary;
  }

}

@media (min-width: 768px) {
  .banner {
    height: 250px;
  }
}

#welcome {
  background: url(../images/viet2.jpg) no-repeat center center fixed; 
  background-size: cover;
  background-position: center top;
}

#addpost-banner {
  background: url(../images/vietnamese.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar {
  margin-bottom: 0;
  margin: 10px 0;
  color: $brand-primary;
  border-bottom: 1px solid $brand-primary;
  a {
    color: $brand-primary;
  }
}

.navbar-header {
  a {
    font-family: Pacifico, sans-serif;
  }
}

.splash-container {
  text-align: center;
  margin-top: 15vh;
  .content {
    max-width: 80%;
    margin: 70px auto;
  }

  .splash-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Pacifico, sans-serif;
    font-size: 3em;
  }

  .splash-title {
    font-size: 4em;
    margin-bottom: 0.5em;
  }

  .underlink {
    display: block;
    margin-top: 0.3em;
    color: $white;
    text-decoration: underline;
    font-size: 1.2em;
  }

  .btn {
    font-size: 1.3em;
    border-radius: 0;
    border-width: 0.07em;
    padding: 0.5em 1em;
    background: $brand-primary;
    color: $white;

    &:hover {
      background: darken($brand-primary, 8%);
    }
  }

  #login {
    max-width: 400px;
    margin: 0 auto;

    input {
      font-size: 1.5em;
      height: auto;
    }
  }  
}

.jumbotron {
  background: $brand-primary;
  color: $brand-white;
}

.jumbotron {
  .btn {
    border-color: $brand-white;
    color: $brand-white;
    &:hover {
      background: $brand-white;
      color: $brand-primary;
    }
  }
}

.btn-primary {
  background: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    background: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-white;
  }
}

.bs-docs-nav .navbar-toggle .icon-bar {
  background: $brand-primary;
}

.login-modal {
  padding: 1em;
}

.form-control {
  margin: 0.5em auto;
}

.profile-img-holder {
  width: 100px;
  margin: 0 auto;
}

.post,
.order {
  padding: 0.5em 1em 0.1em;
  margin-bottom: 0.2em;
}

.post {
  background-color: $grey;
}
.order-this-item {
  margin-top: 0.2em;
}

#checkout {
  background-color: #f5f5f5;
  max-width: 700px;
  display: block;
  margin: 25px auto;
}

.button {
    border: none;
    display: block;
    margin: auto;
    background-color: $brand-secondary;
    padding: 5px 30px;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    border-radius: 3px;

    &:hover {
      color: $white;
      text-decoration: none;
    }
}

.loginInput {
  border-radius: 0;
  box-shadow: none;
}

.postForm {
  width: 500px;
  max-width: 100%;
}